@import url(./fonts.css);
@import url(./normalize.css);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-top: 55px;
  line-height: 1.5;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

button[type] {
  cursor: pointer;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* ==========================
HEADER
========================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-items {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  align-items: center;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-item {
  position: relative;
}

.item-link {
  display: block;
  padding: 1rem;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  transition: 0.3s ease;
}

.item-link:hover,
.item-link.active {
  box-shadow: inset 0 -3px 0 rgba(25, 25, 25, 0.7);
}

.item-link:active {
  color: #ffffff;
  background-color: rgba(25, 25, 25, 0.7);
  box-shadow: none;
}

.dropdown-item:hover .sub-list,
.dropdown-item:focus-within .sub-list {
  opacity: 1;
  pointer-events: inherit;
  transform: translate(0);
}

.sub-list {
  position: absolute;
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: 0.3s ease;
}

.sub-item-link {
  display: block;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  transition: 0.3s ease;
  transition-property: background-color;
}

.sub-item-link:hover {
  color: #ffffff;
  background-color: rgba(0, 186, 252, 1);
}

.sub-item-link:active {
  color: #ffffff;
  background-color: rgba(0, 186, 252, 1);
  opacity: 0.5;
}

.button {
  display: inline-block;
  padding: 5px 13px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 186, 252, 1);
  border: 3px solid transparent;
  border-radius: 5px;
  transition: 0.3s ease;
}

.call-button:hover {
  color: rgba(0, 186, 252, 1);
  border: 3px solid rgba(0, 186, 252, 1);
  background-color: #ffffff;
}

.call-button:active {
  color: #ffffff;
  background-color: rgba(0, 186, 252, 1);
  opacity: 0.5;
}

/* ==========================
MAIN
========================== */
.section {
  padding: 4rem 0;
}

/* PROMO */
.promo-section {
  padding: 5rem 0;
}

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-left {
  max-width: 470px;
}

.promo-heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
}

.promo-paragraph {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
}

.button-primary:hover {
  background: rgba(0, 186, 252, 0.8);
}

.button-primary:active {
  background: rgba(0, 186, 252, 0.6);
}

.video-link {
  width: 460px;
  max-width: 100%;
  height: 260px;
  border-radius: 5px;
}

/* SERVICES */
.title {
  margin-bottom: 2rem;
  text-align: center;
}
.heading {
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}

.paragraph {
  max-width: 719px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-item {
  width: 320px;
  margin: 0 35px;
  margin-bottom: 48px;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.service-item:hover {
  background: #ffffff;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.service-item:active {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.service-item-link {
  display: block;
  padding: 24px;
  text-align: center;
}

.services-item-heading {
  margin: 16px 0;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.services-item-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.more {
  text-align: center;
}

.link-for-more {
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 186, 252, 1);
  text-decoration-line: underline;
}

/* HOW WE WORK */
.work-heading {
  max-width: 262px;
}

.requirement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 48px;
}

.requirement:nth-child(1)::before {
  content: url("../images/step-illustration-1.png");
}

.requirement:nth-child(2)::before {
  content: url("../images/step-illustration-2.png");
}

.requirement:nth-child(3)::before {
  content: url("../images/step-illustration-3.png");
}

.requirement:nth-child(4)::before {
  content: url("../images/step-illustration-4.png");
}

.requirement:nth-child(5)::before {
  content: url("../images/step-illustration-5.png");
}

.requirement:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 48px;
}

.requirement-heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.requirement-paragraph {
  margin: 0;
  font-size: 16px;
}

/* BOOKING */
.booking-section {
  background-color: rgba(0, 186, 252, 1);
}

.booking-heading {
  max-width: 263px;
  color: #ffffff;
}

.booking-paragraph {
  color: #ffffff;
}

.booking-form-details {
  display: flex;
  justify-content: center;
}

.booking-form {
  width: 348px;
  padding: 24px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.input {
  width: 300px;
  margin-bottom: 16px;
  padding: 16px;
  background: #f3f3f3;
  border-radius: 5px;
  border: none;
}

.input::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
}

.custom-select {
  font-size: 16px;
  line-height: 150%;
  appearance: none;
  background-image: url(../images/Group-1.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* ==========================
FOOTER
========================== */
.footer {
  background-color: rgba(25, 25, 25, 1);
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  max-width: 320px;
}
.heading-font {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.paragraph-font {
  font-size: 16px;
  color: #ffffff;
}

.pages-item {
  padding: 4px 0;
}

.pages-link:hover {
  color: rgba(0, 186, 252, 1);
}

.pages-link:active {
  color: rgba(0, 186, 252, 1);
  opacity: 0.6;
}

.social-media-list-item::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}

.social-media-list-item:nth-of-type(1)::before {
  background-image: url("../images/telegram.svg");
}

.social-media-list-item:nth-of-type(2)::before {
  background-image: url("../images/facebook.svg");
}

.social-media-list-item:nth-of-type(3)::before {
  background-image: url("../images/instagram.svg");
}

.social-media-list-item {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.social-media-link:hover {
  color: rgba(0, 186, 252, 1);
}

.social-media-list-item:active {
  color: rgba(0, 186, 252, 1);
  opacity: 0.6;
}
